.git
.github

.venv
venv
env

__pycache__/
*.py[cod]
*.pyo
*$py.class

.env
.env.*

coverage*
.coverage
htmlcov

.pytest_cache
.mypy_cache
.ruff_cache

localhost*.key
localhost*.crt
*.key
*.crt
*.pem

gitleaks-working-tree.json

docs/

logs/
*.log

media/
staticfiles/
reports/

*.sqlite3
db.sqlite3
backups/
